In [1]:
import pandas as pd
import seaborn as sns
%matplotlib inline

In [2]:
ndata = pd.read_csv("NextData.csv")

In [3]:
ndata.columns

Index(['Advertiser', 'Advertiser ID', 'Advertiser Status',
       'Advertiser Integration Code', 'Time of Day', 'Country', 'Device Type',
       'Advertiser Currency', 'Impressions',
       'Active View: Measurable Impressions',
       'Active View: Viewable Impressions', 'Clicks',
       'Revenue (Adv Currency)'],
      dtype='object')

In [4]:
ndata = ndata.drop(['Advertiser ID', 'Advertiser Status',
       'Advertiser Integration Code', ], axis=1)

In [5]:
ndata.columns

Index(['Advertiser', 'Time of Day', 'Country', 'Device Type',
       'Advertiser Currency', 'Impressions',
       'Active View: Measurable Impressions',
       'Active View: Viewable Impressions', 'Clicks',
       'Revenue (Adv Currency)'],
      dtype='object')

In [6]:
ndata.columns=['Advertiser', 'TOD', 'Country', 'DeviceType',
       'Currency', 'Impressions',
       'MeasurableImpressions',
       'ViewableImpressions', 'Clicks',
       'Spend']

In [7]:
ndata.head()

,Advertiser,TOD,Country,DeviceType,Currency,Impressions,MeasurableImpressions,ViewableImpressions,Clicks,Spend
0,Next_UK_Zenith,0.0,DE,Desktop,GBP,16033.0,15214.0,4048.0,3.0,15.064673
1,Next_UK_Zenith,0.0,HK,Desktop,GBP,24158.0,23581.0,9229.0,19.0,51.533391
2,Next_UK_Zenith,1.0,DE,Desktop,GBP,31903.0,30341.0,7678.0,6.0,25.592858
3,Next_UK_Zenith,1.0,GB,Desktop,GBP,94044.0,92256.0,57478.0,157.0,301.121433
4,Next_UK_Zenith,1.0,GB,Tablet,GBP,53025.0,48877.0,25243.0,49.0,125.552097

In [8]:
ndata["CTR"] = ndata.Clicks / ndata.Impressions
ndata["Viewability"] = ndata.ViewableImpressions / ndata.MeasurableImpressions
ndata["CPM"] = ndata.Spend / ndata.Impressions * 1000

In [9]:
ndata.head()

,Advertiser,TOD,Country,DeviceType,Currency,Impressions,MeasurableImpressions,ViewableImpressions,Clicks,Spend,CTR,Viewability,CPM
0,Next_UK_Zenith,0.0,DE,Desktop,GBP,16033.0,15214.0,4048.0,3.0,15.064673,0.000187,0.266071,0.939604
1,Next_UK_Zenith,0.0,HK,Desktop,GBP,24158.0,23581.0,9229.0,19.0,51.533391,0.000786,0.391374,2.133181
2,Next_UK_Zenith,1.0,DE,Desktop,GBP,31903.0,30341.0,7678.0,6.0,25.592858,0.000188,0.253057,0.802209
3,Next_UK_Zenith,1.0,GB,Desktop,GBP,94044.0,92256.0,57478.0,157.0,301.121433,0.001669,0.623027,3.201921
4,Next_UK_Zenith,1.0,GB,Tablet,GBP,53025.0,48877.0,25243.0,49.0,125.552097,0.000924,0.516460,2.367791

In [10]:
ndata.tail(15)

,Advertiser,TOD,Country,DeviceType,Currency,Impressions,MeasurableImpressions,ViewableImpressions,Clicks,Spend,CTR,Viewability,CPM
334,Next_UK_Zenith,9.0,RU,Desktop,GBP,254583.0,251489.0,116124.0,251.0,383.502848,0.000986,0.461746,1.506396
335,Next_UK_Zenith,9.0,SK,Desktop,GBP,82911.0,81246.0,33392.0,81.0,102.547073,0.000977,0.410999,1.236833
336,NaN,NaN,NaN,NaN,NaN,45679742.0,44193140.0,20722580.0,56081.0,103984.251973,0.001228,0.468909,2.276376
337,Report Time:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
338,Date Range:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
339,Group By:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
340,Group By:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
341,Group By:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
342,Group By:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
343,Group By:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
344,Group By:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
345,Group By:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
346,Group By:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
347,Filter by Advertiser ID:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
348,Filter by Partner ID:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
ndata = ndata.drop(ndata.index[336:])

In [12]:
ndata.tail()

,Advertiser,TOD,Country,DeviceType,Currency,Impressions,MeasurableImpressions,ViewableImpressions,Clicks,Spend,CTR,Viewability,CPM
331,Next_UK_Zenith,8.0,AU,Desktop,GBP,54393.0,53375.0,24957.0,41.0,109.464148,0.000754,0.467578,2.012468
332,Next_UK_Zenith,9.0,CZ,Desktop,GBP,11734.0,11593.0,5158.0,25.0,34.568392,0.002131,0.444924,2.946002
333,Next_UK_Zenith,9.0,GB,Smart Phone,GBP,357093.0,333585.0,138886.0,1481.0,985.659847,0.004147,0.416344,2.760233
334,Next_UK_Zenith,9.0,RU,Desktop,GBP,254583.0,251489.0,116124.0,251.0,383.502848,0.000986,0.461746,1.506396
335,Next_UK_Zenith,9.0,SK,Desktop,GBP,82911.0,81246.0,33392.0,81.0,102.547073,0.000977,0.410999,1.236833

In [13]:
#below "ViewGroup" needs to be established first so the column label is created then the filtering
# & needs to be used 
#syntax is ndata["ViewGroup"] first then the [filtering]
ndata["ViewGroup"] = 0
ndata["ViewGroup"][ndata.Viewability < 0.29999] = 0.3
ndata["ViewGroup"][(0.3 < ndata.Viewability) & (ndata.Viewability < 0.39999)] = 0.4
ndata["ViewGroup"][(0.4 < ndata.Viewability) & (ndata.Viewability < 0.49999)] = 0.5
ndata["ViewGroup"][(0.5 < ndata.Viewability) & (ndata.Viewability < 0.59999)] = 0.6
ndata["ViewGroup"][(0.6 < ndata.Viewability) & (ndata.Viewability < 0.69999)] = 0.7
ndata["ViewGroup"][(0.7 < ndata.Viewability) & (ndata.Viewability < 0.79999)] = 0.8
ndata["ViewGroup"][ndata.Viewability > 0.79999] = 0.9

/Applications/anaconda/lib/python3.5/site-packages/ipykernel/__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app

In [15]:
ndata["CTRGroup"] = 0
ndata["CTRGroup"][ndata.CTR < 0.0005] = "Low"
ndata["CTRGroup"][(ndata.CTR > 0.0005) & (ndata.CTR < 0.001)] = "Medium"
ndata["CTRGroup"][ndata.CTR > 0.001] = "High"

/Applications/anaconda/lib/python3.5/site-packages/ipykernel/__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app
/Applications/anaconda/lib/python3.5/site-packages/ipykernel/__main__.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  app.launch_new_instance()
/Applications/anaconda/lib/python3.5/site-packages/ipykernel/__main__.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [16]:
ndata.head()

,Advertiser,TOD,Country,DeviceType,Currency,Impressions,MeasurableImpressions,ViewableImpressions,Clicks,Spend,CTR,Viewability,CPM,ViewGroup,CTRGroup
0,Next_UK_Zenith,0.0,DE,Desktop,GBP,16033.0,15214.0,4048.0,3.0,15.064673,0.000187,0.266071,0.939604,0.3,Low
1,Next_UK_Zenith,0.0,HK,Desktop,GBP,24158.0,23581.0,9229.0,19.0,51.533391,0.000786,0.391374,2.133181,0.4,Medium
2,Next_UK_Zenith,1.0,DE,Desktop,GBP,31903.0,30341.0,7678.0,6.0,25.592858,0.000188,0.253057,0.802209,0.3,Low
3,Next_UK_Zenith,1.0,GB,Desktop,GBP,94044.0,92256.0,57478.0,157.0,301.121433,0.001669,0.623027,3.201921,0.7,High
4,Next_UK_Zenith,1.0,GB,Tablet,GBP,53025.0,48877.0,25243.0,49.0,125.552097,0.000924,0.516460,2.367791,0.6,Medium

---

In [18]:
ndata.pivot_table(index=["DeviceType", "CTRGroup"], columns="TOD", values="Impressions")

TOD                            0.0            1.0      2.0      3.0   \
DeviceType  CTRGroup
Desktop     High       44818.666667   21887.500000  17727.8  17284.0
            Low         9085.000000   31903.000000   8826.5   5867.5
            Medium     46730.500000   67147.666667  55505.4  60332.0
Smart Phone High      193833.000000  112469.000000  75846.0  66176.0
Tablet      High                NaN            NaN      NaN      NaN
            Medium    102163.000000   53025.000000  32683.0  25361.0

TOD                           4.0       5.0            6.0            7.0   \
DeviceType  CTRGroup
Desktop     High      19800.333333   38801.6   82607.000000   97480.142857
            Low       19498.000000   26042.5  125247.000000  108181.000000
            Medium    70368.400000   92369.8  130346.666667  251030.750000
Smart Phone High      85261.000000  123228.0  301369.000000  366811.000000
Tablet      High               NaN       NaN            NaN            NaN
            Medium    34247.000000   54646.0  123931.000000  172156.000000

TOD                            8.0            9.0       ...        \
DeviceType  CTRGroup                                    ...
Desktop     High      208960.714286  275448.750000      ...
            Low       112835.000000   90007.000000      ...
            Medium    149455.250000  162009.857143      ...
Smart Phone High      406427.000000  357093.000000      ...
Tablet      High                NaN            NaN      ...
            Medium    205320.000000  192485.000000      ...

TOD                            14.0       15.0       16.0       17.0  \
DeviceType  CTRGroup
Desktop     High      156430.833333  162244.00  136438.00  182228.75
            Low        29506.000000   28889.00   30496.00   25069.50
            Medium    161996.200000  156945.25  189633.25   96611.50
Smart Phone High      326259.000000  324056.00  371999.00  363053.00
Tablet      High      194280.000000        NaN        NaN  258581.00
            Medium              NaN  196001.00  239524.00        NaN

TOD                            18.0           19.0           20.0  \
DeviceType  CTRGroup
Desktop     High      190907.888889  190560.777778  168547.111111
            Low        47027.000000   37772.000000   32884.000000
            Medium     18456.000000   40062.000000   89652.500000
Smart Phone High      401976.000000  462547.000000  522817.000000
Tablet      High      296327.000000            NaN            NaN
            Medium              NaN  350740.000000  390128.000000

TOD                            21.0           22.0           23.0
DeviceType  CTRGroup
Desktop     High       90589.833333   90768.375000   47625.000000
            Low        16165.500000   18094.000000   10724.000000
            Medium    202069.500000   50526.666667   48221.166667
Smart Phone High      555366.000000  496187.000000  300429.000000
Tablet      High                NaN            NaN            NaN
            Medium    382914.000000  320782.000000  166965.000000

[6 rows x 24 columns]