In [22]:
import pandas as pd

In [23]:
#pandas stands for panel data, if offers data structure and manipulation of data

In [24]:
#method 1 of import the data from .csv file (below we use stats but any name can be used)
#if saved in another folder just need to specify the full path to the file
stats = pd.read_csv("sample.csv")

In [25]:
stats

,City,City ID,Country,Advertiser Currency,Impressions,Clicks,Revenue (Adv Currency)
0,Abingdon,1006457,GB,GBP,174.0,1.0,0.468812
1,Alloa,1007295,GB,GBP,89.0,0.0,0.252819
2,Amersham,1006474,GB,GBP,45.0,0.0,0.126163
3,Annan,1007297,GB,GBP,58.0,0.0,0.144051
4,Baldock,1006493,GB,GBP,93.0,0.0,0.264777
5,Barnsley,1006496,GB,GBP,682.0,1.0,1.735428
6,Berkhamsted,1006512,GB,GBP,75.0,0.0,0.200266
7,Billingshurst,1006520,GB,GBP,38.0,0.0,0.100759
8,Birchwood,1006522,GB,GBP,49.0,0.0,0.138483
9,Birmingham,1006524,GB,GBP,5049.0,4.0,13.131432
10,Bishop s Stortford,1006528,GB,GBP,124.0,0.0,0.319464
11,Blackburn,1006530,GB,GBP,113.0,0.0,0.292472
12,Blackpool,1006532,GB,GBP,753.0,2.0,1.922611
13,Blandford Forum,1006533,GB,GBP,54.0,0.0,0.149993
14,Bloxham,1006535,GB,GBP,16.0,0.0,0.030731
15,Bodmin,1006537,GB,GBP,88.0,0.0,0.229319
16,Bognor Regis,1006538,GB,GBP,75.0,0.0,0.186539
17,Bottisham,1006544,GB,GBP,10.0,0.0,0.025363
18,Bradford-on-Avon,1006554,GB,GBP,9.0,0.0,0.026149
19,Bridgnorth,1006562,GB,GBP,168.0,2.0,0.457969
20,Brierley Hill,1006564,GB,GBP,168.0,0.0,0.445173
21,Brighton,1006565,GB,GBP,866.0,1.0,2.208001
22,Brill,1006566,GB,GBP,3.0,0.0,0.007285
23,Bristol,1006567,GB,GBP,2936.0,4.0,7.821674
24,Broadbridge Heath,1006568,GB,GBP,1.0,0.0,0.002763
25,Buckingham,1006579,GB,GBP,40.0,0.0,0.104127
26,Buntingford,1006581,GB,GBP,51.0,0.0,0.136383
27,Burford,1006582,GB,GBP,2.0,0.0,0.005154
28,Burgess Hill,1006583,GB,GBP,192.0,1.0,0.497085
29,Burnley,1006585,GB,GBP,81.0,0.0,0.201324
...,...,...,...,...,...,...,...
823,Spilsby,1007096,GB,GBP,34.0,0.0,0.086855
824,Stamford,1007106,GB,GBP,110.0,1.0,0.292982
825,Stevenage,1007113,GB,GBP,207.0,0.0,0.580083
826,Steyning,1007114,GB,GBP,59.0,0.0,0.175877
827,Stirling,1007397,GB,GBP,485.0,1.0,1.329543
828,Stourport-on-Severn,1007126,GB,GBP,136.0,0.0,0.360608
829,Stratford-upon-Avon,1007128,GB,GBP,108.0,0.0,0.284189
830,Sunbury-on-Thames,1007132,GB,GBP,25.0,0.0,0.070906
831,Swallowfield,1007140,GB,GBP,2.0,0.0,0.005092
832,Tadcaster,1007145,GB,GBP,49.0,0.0,0.124208
833,Thame,1007155,GB,GBP,68.0,0.0,0.179632
834,Virginia Water,1007185,GB,GBP,3.0,0.0,0.006426
835,Warrington,1007200,GB,GBP,608.0,0.0,1.625326
836,Watford,1007204,GB,GBP,800.0,0.0,2.192766
837,Westerham,1007217,GB,GBP,1.0,0.0,0.003917
838,Weston-super-Mare,1007219,GB,GBP,71.0,0.0,0.176411
839,Wigan,1007230,GB,GBP,610.0,1.0,1.528224
840,Willingham,1007233,GB,GBP,26.0,0.0,0.067192
841,Worcester,1007256,GB,GBP,577.0,1.0,1.481998
842,Wymondham,1007261,GB,GBP,163.0,0.0,0.414262
843,Yarm,1007263,GB,GBP,5.0,0.0,0.017310
844,NaN,NaN,NaN,NaN,275810.0,478.0,724.855704
845,Report Time:,2017/01/08 13:29 GMT,NaN,NaN,NaN,NaN,NaN
846,Date Range:,2016/12/09 to 2017/01/07,NaN,NaN,NaN,NaN,NaN
847,Group By:,City,NaN,NaN,NaN,NaN,NaN
848,Group By:,City ID,NaN,NaN,NaN,NaN,NaN
849,Group By:,Country,NaN,NaN,NaN,NaN,NaN
850,Group By:,Advertiser Currency,NaN,NaN,NaN,NaN,NaN
851,Filter by Insertion Order ID:,2806249,NaN,NaN,NaN,NaN,NaN
852,Filter by Partner ID:,151,NaN,NaN,NaN,NaN,NaN

In [26]:
len(stats)

853

In [30]:
stats.columns

Index(['City', 'City ID', 'Country', 'Advertiser Currency', 'Impressions',
       'Clicks', 'Revenue (Adv Currency)'],
      dtype='object')

In [28]:
#this calculates the length of the columns
len(stats.columns)

7

In [21]:
#below module provides a summary of the dataset, similar to R's summary
stats.describe()

/Applications/anaconda/lib/python3.5/site-packages/numpy/lib/function_base.py:3834: RuntimeWarning: Invalid value encountered in percentile
  RuntimeWarning)

         Impressions      Clicks  Revenue (Adv Currency)
count     845.000000  845.000000              845.000000
mean      652.804734    1.131361                1.715635
std      9751.330298   16.856743               25.628801
min         1.000000    0.000000                0.000554
25%              NaN         NaN                     NaN
50%              NaN         NaN                     NaN
75%              NaN         NaN                     NaN
max    275810.000000  478.000000              724.855704

In [15]:
#below given object oriented programming the syntax goes like stats.xxx()

In [32]:
import os

In [34]:
print(os.getcwd())

/Users/mac/Documents/Python/Dataframe - import - exploration

---

In [36]:
#there is no brackets
stats.columns

Index(['City', 'City ID', 'Country', 'Advertiser Currency', 'Impressions',
       'Clicks', 'Revenue (Adv Currency)'],
      dtype='object')

In [37]:
#number of columgs 
len(stats.columns)

7

In [38]:
#top rows, defaults is 5 rows
stats.head()

,City,City ID,Country,Advertiser Currency,Impressions,Clicks,Revenue (Adv Currency)
0,Abingdon,1006457,GB,GBP,174.0,1.0,0.468812
1,Alloa,1007295,GB,GBP,89.0,0.0,0.252819
2,Amersham,1006474,GB,GBP,45.0,0.0,0.126163
3,Annan,1007297,GB,GBP,58.0,0.0,0.144051
4,Baldock,1006493,GB,GBP,93.0,0.0,0.264777

In [39]:
#by passing 10 in the brackets which will be 10 rows
stats.head(10)

,City,City ID,Country,Advertiser Currency,Impressions,Clicks,Revenue (Adv Currency)
0,Abingdon,1006457,GB,GBP,174.0,1.0,0.468812
1,Alloa,1007295,GB,GBP,89.0,0.0,0.252819
2,Amersham,1006474,GB,GBP,45.0,0.0,0.126163
3,Annan,1007297,GB,GBP,58.0,0.0,0.144051
4,Baldock,1006493,GB,GBP,93.0,0.0,0.264777
5,Barnsley,1006496,GB,GBP,682.0,1.0,1.735428
6,Berkhamsted,1006512,GB,GBP,75.0,0.0,0.200266
7,Billingshurst,1006520,GB,GBP,38.0,0.0,0.100759
8,Birchwood,1006522,GB,GBP,49.0,0.0,0.138483
9,Birmingham,1006524,GB,GBP,5049.0,4.0,13.131432

In [40]:
#bottom rows
stats.tail(10)

,City,City ID,Country,Advertiser Currency,Impressions,Clicks,Revenue (Adv Currency)
843,Yarm,1007263,GB,GBP,5.0,0.0,0.017310
844,NaN,NaN,NaN,NaN,275810.0,478.0,724.855704
845,Report Time:,2017/01/08 13:29 GMT,NaN,NaN,NaN,NaN,NaN
846,Date Range:,2016/12/09 to 2017/01/07,NaN,NaN,NaN,NaN,NaN
847,Group By:,City,NaN,NaN,NaN,NaN,NaN
848,Group By:,City ID,NaN,NaN,NaN,NaN,NaN
849,Group By:,Country,NaN,NaN,NaN,NaN,NaN
850,Group By:,Advertiser Currency,NaN,NaN,NaN,NaN,NaN
851,Filter by Insertion Order ID:,2806249,NaN,NaN,NaN,NaN,NaN
852,Filter by Partner ID:,151,NaN,NaN,NaN,NaN,NaN

In [42]:
#infomation on the columns heads
stats.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 853 entries, 0 to 852
Data columns (total 7 columns):
City                      852 non-null object
City ID                   852 non-null object
Country                   844 non-null object
Advertiser Currency       844 non-null object
Impressions               845 non-null float64
Clicks                    845 non-null float64
Revenue (Adv Currency)    845 non-null float64
dtypes: float64(3), object(4)
memory usage: 46.7+ KB

In [49]:
#transpose function is as below
stats.describe().transpose()

/Applications/anaconda/lib/python3.5/site-packages/numpy/lib/function_base.py:3834: RuntimeWarning: Invalid value encountered in percentile
  RuntimeWarning)

,count,mean,std,min,25%,50%,75%,max
Impressions,845.0,652.804734,9751.330298,1.000000,NaN,NaN,NaN,275810.000000
Clicks,845.0,1.131361,16.856743,0.000000,NaN,NaN,NaN,478.000000
Revenue (Adv Currency),845.0,1.715635,25.628801,0.000554,NaN,NaN,NaN,724.855704